{%load static from staticfiles%}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>LogIn</title>

     <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
    <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


       <style>
           .bd-placeholder-img {
             font-size: 1.125rem;
             text-anchor: middle;
             -webkit-user-select: none;
             -moz-user-select: none;
             -ms-user-select: none;
             user-select: none;
           }

           @media (min-width: 768px) {
             .bd-placeholder-img-lg {
               font-size: 3.5rem;
             }
           }
         </style>
         <!-- Custom styles for this template -->
    <link href="{% static 'signin.css'%}" rel="stylesheet">

  </head>
  <body class="text-center">

  {% csrf_token %}
  <form class ="form-signin" method="POST">
    <a href = "/" ><img class="mb-4" src="{% static 'logo.jpg'%}" alt="" width="95" height="95" ></a>
    {{form.as_p}}

  <button class="btn btn-lg btn-primary btn-block" type="submit" method="POST" action={% url 'accounts:login'%}>Sign in</button>
   <p class="mt-5 mb-3 text-muted">&copy; Procrate 2019</p>
  </form>

  </body>
</html>
