<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>

  <form method="POST">
  {% csrf_token %}
      {{form}}
    <input type="submit" value="Signup" method="POST">
  </form>

  </body>
</html>
