{% load static from staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Procrate: {{user}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <form class="form-inline my- my-lg-0" method="POST" action="/search/">
          <input class="form-control mr-3 sm-4" type="search" name="search" placeholder="Search" aria-label="Search" method="POST">

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="s_user" value="user" autocomplete="off" checked> Users
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="s_project" value="project" autocomplete="off"> Projects
      </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="s_blog" value="blog" autocomplete="off"> Articles
        </labelsubmit>
          </div>

          <button class="btn btn-primary my-2 my-sm-0" type="submit" action = "search/" method="POST">Search</button>

    </form>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'pricing.css'%}" rel="stylesheet">
  </head>
  <body>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Procrate</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#"></a>
      <a class="p-2 text-dark" href="#"></a>
      <a class="p-2 text-dark" href="#"></a>
    </nav>
    {% if user.is_authenticated %}
      <h5 class="my-0 mr-md-3 font-weight-normal"><a href="{% url 'userProfile1' user.username %}">{{user}}</h5>
      <a class="btn btn-outline-primary" href="{% url 'accounts:logout'%}" action="" method='POST'>Logout</a>
    {% else %}
      <a class="btn btn-outline-primary" href="{% url 'accounts:login'%}">Login</a>
      <a class="btn btn-outline-primary" href="{% url 'accounts:signup'%}">Sign up</a>
    {% endif %}
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="card-title pricing-card-title">{{ project.title }}</h4>


          <!-- bookmark thing ---->
          {% if user.is_authenticated %}
          {% if user.username != project.owner1 %}
          <form class="form-inline my- my-lg-0" method='POST' action="/projects/bookmarkIt/">
          <input type="hidden" name="slug" value="{{ project.slug }}">
          <input type="hidden" name="title" value="{{ project.title }}">
          <input class="btn btn-warning" type="submit" value="Bookmark It">
        </form>
        {%endif%}
        {%endif%}
        </div>
        <div class="card-body">
          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

      <p class="lead">{{ project.abstract}}.</p>
      <ul class="list-unstyled mt-3 mb-4">
              <li>{{ project.date }}</li>
              <li>Owner: {{ project.owner }}</li>
              <li>Category: {{ project.category}}</li>
            </ul>
    </div>
    <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Project Files</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><a href="{{ project.files.url }}">{{ project.files}}</a></li>
            </ul>
            <!--button type="button" class="btn btn-lg btn-block btn-primary">Download</button-->
          </div>
        </div>

      <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Comments</h4>
          </div>
        </div>
      </div>
      <div class="card-deck mb-3 text-left">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> </h1>
            <ul class="list-unstyled mt-3 mb-4">
              {% for comment in comments.all%}
              <li>{{comment.comment_field}}</li>
              <label> {{comment.owner}} </label>
              <br>
              {{comment.comment_date}}
              <br>
              {%endfor%}
            </ul>



<!-- adding comment form .... django form modified !!!!!! -->
  {% if user.is_authenticated %}
      <form class="form-group" action="/projects/addComment/" method='POST' >


            <textarea name="comment_field" class='form-control' cols="30" rows="3" required id="id_comment_field">
              </textarea>
            <input type='hidden' value="{{project.slug}}" id="slug" name="slug"  >
            <input type='submit' value='Comment' method="POST">
          </form>

          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>

          </div>
        </div>
        {% endif %}
