{%load static from staticfiles%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
  </head>
  <body>
    <button type="button" class="btn">New Project</button>

      <div class="wrapper">
        <h1><a href="{% url 'homepage'%}"><img src="{% static 'logo.jpg' %}"/></a></h1>
        <nav>
          <ul>
            {% if user.is_authenticated %}

              <li>
                  <form class = "logout-link" action="{% url 'accounts:logout' %}" method="POST">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                  </form>
                </li>
             {% else %}


              <li> <a href="{% url 'accounts:login'%}"> Login </a> </li>
              <li> <a href="{% url 'accounts:signup'%}"> Signup </a> </li>

            {% endif %}
          </ul>
        </nav>
        {% block content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
