{% load static from staticfiles %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Procrate: {{user}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'pricing.css'%}" rel="stylesheet">
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"> Procrate</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#"></a>
    <a class="p-2 text-dark" href="#"></a>
    <a class="p-2 text-dark" href="#"></a>

  </nav>
  {% if user.is_authenticated %}
    <h5 class="my-0 mr-md-3 font-weight-normal">{{user}}</h5>
    <a class="btn btn-outline-primary" href="{% url 'accounts:logout'%}" action="" method='POST'>Logout</a>
  {% else %}
    <a class="btn btn-outline-primary" href="{% url 'accounts:login'%}">Login</a>
    <a class="btn btn-outline-primary" href="{% url 'accounts:signup'%}">Sign up</a>
  {% endif %}
</div>

<!-- ---------------------------------------------------->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <form class="form-inline my- my-lg-0" method="POST" action="/search/">
        <input class="form-control mr-3 sm-4" type="search" name="search" placeholder="Search" aria-label="Search" method="POST">

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="s_user" value="user" autocomplete="off" checked> Users
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="s_project" value="project" autocomplete="off"> Projects
    </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="s_blog" value="blog" autocomplete="off"> Articles
      </labelsubmit>
        </div>

        <button class="btn btn-primary my-2 my-sm-0" type="submit" action = "search/" method="POST">Search</button>

  </form>

     <h1 class="display-4"></h1>
     <p class="lead">Search Results : {{s_key}} in {{s_opt}}</p>
   </div>

   <div class="container">
     <div class="card-deck mb-3 text-left">
       <div class="card mb-4 box-shadow">
         <div class="card-header">
           <h4 class="my-0 font-weight-normal"></h4>
         </div>
         <div class="card-body">
           <h1 class="card-title pricing-card-title"></h1>
           <ul class="list-unstyled mt-3 mb-4">
             {% if s_project_flag %}
               {% for project in search_result%}
               <li><a href ="{% url 'projectDetail' project.slug %}"><h3>{{project.title}}</h3></a></li>
               <h5>{{project.owner1}}</h5>
               <br>
               {%endfor%}
             {% endif %}

             {% if s_user_flag %}
             {% for u in search_result%}
              {{u.profile_pic.url}}
              <li>  <!--img src="{{u.profile_pic.url}}" class="img-rounded" style="width:30%"--><a href ="{% url 'userProfile1' u.username %}"><h3>{{u.username}}</h3></a></li>

              <br>
             {%endfor%}
             {% endif %}

             {% if s_blog_flag %}
               print blogs
             {%endif%}

           </ul>
           <!--button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button-->
         </div>
       </div>
